# Ignore environment variables
.env

# Ignore virtual environment
.venv/

# Ignore Python cache directories
__pycache__/
*.pyc

# Ignore Git-related files
.git/
.gitignore

# Ignore pytest cache
.pytest_cache/

# Ignore logs and temporary files
*.log
tmp/
*.swp
*.swo

# Ignore IDE-specific files (e.g., VS Code)
.vscode/

# Ignore Docker-related files that are not needed inside the image
docker-compose.yml
Dockerfile

# Ignore postman collection
MockAPI.postman_collection.json

# Ignore documentation files
GEMINI.md
README.md
recent-search-doc.txt
user-doc.txt
